In [21]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('example.db')
cur = connection.cursor()

In [12]:
data = {
    'Size': ['123', '456', '789'],
    'Date': ['2024-07-01','2024-07-01','2024-07-01'],
    'Time': ['13:00','14:00','15:00'],
    'HDFS Path': ['Test/project_token/dataset_name/1/file_name', 
                  'Test/project_token/dataset_name/2/file_name',
                 'Test/project_token/dataset_name/1/file_name2'],
    'version': [1, 2, 1],
    'dataset_name': ['file_name', 'file_name', 'file_name2'],
    'project_token': ['project_token', 'project_token', 'project_token']
}
df = pd.DataFrame(data)
df

,Size,Date,Time,HDFS Path,version,dataset_name,project_token
0,123,2024-07-01,13:00,Test/project_token/dataset_name/1/file_name,1,file_name,project_token
1,456,2024-07-01,14:00,Test/project_token/dataset_name/2/file_name2,2,file_name,project_token
2,789,2024-07-01,15:00,Test/project_token/dataset_name/1/file_name2,1,file_name2,project_token

In [19]:
# by project, by dataset, by version 檢查
filter_df = df.sort_values(by="HDFS Path")

for index, row in filter_df.iterrows():
    
    path = row["HDFS Path"]
    checkout_dataset_version_exist_sql = f"select * from public.dataset_version where path = '{path}'"
    cur.execute(checkout_dataset_version_exist_sql)
    result = cursor.fetchone()
    
    if result: #有資料
        pass
    else:
        version = row.version
        project_token = row.project_token
        dataset_name = row.dataset_name
        
        check_projet_token_exist_sql = f"select * from public.tokens where token = '{project_token}'"
        cur.execute(check_projet_token_exist_sql)
        result = cursor.fetchone()
        if version == 1 and result: # project_token 已經註冊, 但還沒有 dataset_name & version 1
            # insert version1 to dataset
            # insert version1 to dataset_access
            # insert version1 to dataset_version
        if version > 1 and result: # # project_token 已經註冊, 但出現 dataset_name version > 1
            get_dataset_token_sql = f"select datasetToken from public.dataset where owner = '{project_token}' and name = {'dataset_name'}"
            cur.execute(get_dataset_token_sql)
            result_datasetToken = cursor.fetchone()
            if result_datasetToken: # 找得到 dataset_token
                dataset_token = result_datasetToken[0]
                # insert version2 to dataset_version
            else:
                if version == 2:
                # insert version1 to dataset
                # insert version1 to dataset_access
                # insert version1 to dataset_version
    
    
    connection.close()

select * from public.dataset_version where path = 'Test/project_token/dataset_name/1/file_name'
select * from public.dataset_version where path = 'Test/project_token/dataset_name/1/file_name2'
select * from public.dataset_version where path = 'Test/project_token/dataset_name/2/file_name2'